@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');

html, body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: auto;
    padding: 45px 15px;
}

#logo {
    width: 260px;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header a:hover {
    color: #555;
}

main {
    max-width: 1080px;
    margin: auto;
}

footer {
    text-align: center;
    font-size: 12px;
}



#liste-oeuvres {
    display: flex;
    flex-wrap: wrap;
}

.oeuvre {
    width: 33.33%;
    padding: 15px;
}

.oeuvre img {
    width: 100%;
}

.oeuvre h2, #detail-oeuvre h1 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 30px;
}

.oeuvre .description, #detail-oeuvre .description {
    font-style: italic;
    margin-top: 0;
    font-size: 12px;
    margin-bottom: 20px;
}

#detail-oeuvre {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    margin-bottom: 100px;
    margin-top: 75px;
    font-size: 14px;
    padding: 0 15px;
}

#img-oeuvre {
    margin-right: 25px;
}

#img-oeuvre img {
    max-width: 470px;
    margin: auto;
    display: block;
}

#contenu-oeuvre {
    max-width: 470px;
}

.dashboard-header ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.dashboard-header li {
    flex: 1;
    text-align: center;
    border: 1px solid #ddd;
}

.dashboard-header a {
    border: 1px solid #531111;
    padding: 10px;
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: transform 0.2s ease;
}

.dashboard-header a:hover {
    background-color: #531111;
    color: white;
        transform: scale(1.05);
}

.dashboard-header a.active {
    background-color: #531111;
    color: white;
    font-weight: 600;
}

.dashboard-header a:active {
    transform: scale(0.95);
}

.dashboard-content {
    border: 1px solid #ddd;
    min-height:450px;
    padding: 15px;
}

@media (max-width: 850px) {
    .oeuvre {
        width: 50%;
    }

    #img-oeuvre {
        margin-right: 0;
        width: 100%;
    }

    #img-oeuvre img {
        width: 100%;
    }

    #contenu-oeuvre {
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 600px) {
    .oeuvre {
        width: 100%;
    }

    #logo {
        width: 200px;
    }
}
